:root {
    --title-size: 2.5vw;
    --text-color: #fff;
    --primary-color: #999;
    --bg-color: #333;
}

.wrapper {
    height: 80%;
    margin-top: 100px;
}

.featuresWrapper {
    box-sizing: border-box;

}

.title {
    font-family: Gilroy;
    font-size: 48px;
    font-weight: 600;
    line-height: 58.8px;
    text-align: left;
    text-align: left;
    padding: 20px;
    margin-left: 100px;
    color: #212121;

}

.features {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--text-color);
    margin-right: 50px;
    max-width: 1688px;
    margin-right: 50px;
}

.bgImage {
    height: 100%;
    z-index: -1;
    background-color: #313131;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 1700px;
}

.textOverlay {
    position: absolute;
    z-index: 1;
    max-width: 1200px;
    width: 100%;
    padding: 2rem;
}

.textOverlay h2 {
    font-size: var(--title-size);
    margin-bottom: 1rem;
}

.featuresList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    align-items: center
}

.featureItem {
    margin-bottom: 1rem;
    text-align: left;
    line-height: normal;
    word-spacing: 1px;
}

.featureItem h3 {
    font-family: Gilroy;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
}

.featuresList p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;


}

.featureItem p {
    font-size: 1rem;
    color: var(--primary-color);
    margin: 0;
}

.bgStars {
    position: absolute;
    right: -140px;
    width: 537px;
    height: 636px;
    top: -85px;
    z-index: -10;

}

.bgStarsTablet {
    position: absolute;
    top: -85px;
}

@media(max-width:1440px) {
    .featuresList h3 {
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
    }

    .featuresList p {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }

}

@media(min-width: 1440px) {
    .featuresList {
        padding-left: 100px;
    }

    .title {
        font-size: 44px;
        line-height: 53.9px;
    }
}

@media(min-width: 1240px) {
    .textOverlay {
        padding: 10rem;
    }


}

@media (max-width: 1240px) {
    .wrapper {
        height: 60%;
    }

    .features {
        flex-direction: column;
        text-align: center;
    }

    .textOverlay {
        max-width: 100%;
        margin-bottom: 2rem;
        margin-left: 80px;
    }

    .featuresList {
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 50px;
    }

    .featureItem {
        flex: 0 1 45%;
        margin-bottom: 1rem;
        margin-right: 1rem;
    }

    .featureItem h3 {
        text-align: left;
    }

    .bgImage {
        width: auto;
    }

    .inputContainer {
        top: 35%;
    }
}



@media (max-width: 1024px) {
    .featuresList {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .title {
        margin: 0;
    }

    .features {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .wrapper {
        height: 85%;
    }

    .textOverlay {
        max-width: 100%;
        padding: 0;
    }


    .title {
        margin: 0;
        font-family: Gilroy;
        font-size: 36px;
        font-weight: 600;
        line-height: 44.1px;
    }

    .featuresList {
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }



    .featuresList {
        .parent {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
        }

        .li1 {
            grid-area: 3 / 1 / 4 / 2;
        }

        .li2 {
            grid-area: 2 / 1 / 3 / 2;
        }

        .li3 {
            grid-area: 1 / 1 / 2 / 2;
        }

        .li4 {
            grid-area: 1 / 2 / 2 / 3;
        }
    }

    .featureItem {
        flex: 0 1 100%;
        margin-right: 0;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;

    }


}

@media(max-width: 620px) {
    .featuresList {
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        position: relative;
        right: 40px;
    }


}

@media (max-width: 480px) {
 

}

@media(max-width: 375px) {
    .wrapper {
        height: 115%;
    }

    .bgStars {
        display: none;
    }

    .title {
        font-size: 32px;
        line-height: 39.2px;
    }

    .textOverlay {
        top: 50px;
        margin-left: 30px;
        padding: 0;
    }

    .featuresList {
        display: flex;
        text-wrap: balance;
        position: static;
    }

    .featuresList h3 {
        font-family: Gilroy;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        text-align: left;
    }



    .featuresWrapper {
        position: relative;
        top: -150px;
    }
}