.footer {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footerContent {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.barrier {
    width: 1px;
    height:
        2px;
    padding: 0 20px;
    color: #C4C4C4;
}

.logoWrapper {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logoImg {
    width: 100px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.socialMedia {
    display: flex;
    gap: 20px;
}

.socialMedia img {
    width: 32px;
    height: 32px;
}

.appLinks {
    display: flex;
    gap: 10px;
}

.appLinks img {
    width: 113px;
    height: 40px;
}

.footerBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.footerBottom p {
    margin: 0;
    font-size: 14px;
    color: #777;
}

.footerNav a {
    color: #777;
    text-decoration: none;
}

.socialWrapper {
    display: flex;
    align-items: center;
}

.footerBottom {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    align-items: flex-end;
    max-width: 1200px;
    padding-left: 20px;
    width: 100%;
}

.barrierBot {
    width: 1px;
    height: 14px;
    padding: 0 10px;
    color: #C4C4C4;
}

@media (max-width: 768px) {
    .footerContent {
        flex-direction: column;
        align-items: center;
    }

    .logoWrapper {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        gap: 10px;
        align-items: center;
        margin-top: 10px;
    }

    .barrier {
        display: none;
    }

    .socialWrapper {
        align-items: center;
        margin-top: 20px;
        gap: 10px;
    }

    .footerBottom {
        width: 100%;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .footerBottom a {
        padding-left: 10px;
    }

    .footerNav {
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .barrierBot {
        display: none;
    }
}


@media(max-width:375px) {
    .nav {
        flex-direction: column;
    }

    .socialWrapper {
        flex-direction: column
    }

    .footerBottom {
        display: block;
    }
}