.content {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
}

.textContent {
    z-index: 1;
    text-align: left;
}

.textTitle {
    align-items: center;
    margin-bottom: 20px;
}

.textTitle img {
    width: 60px;
    margin-right: 10px;
    position: relative;
    top: 26px;
    left: -25px;
}

.textContent h1 {
    font-size: 48px;
    line-height: 58.8px;
    font-weight: bold;
    color: #000;
    text-align: left;
}

.textContent h1 span {
    color: red;
}

.textContent p {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #555;
    margin: 20px 0;
}

.ctaButton {
    background-color: #FF474D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 2;
    margin-bottom: 20px;
}

.ctaButton:hover {
    background-color: #FB242B !important;
}

.imageContainer {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: left 0.5s ease-in-out;
    left: 100px;
    z-index: -1;
}

.diamondWrapper {
    position: relative;
    top: -50px;
    left: 80px;
}

.redDiamond,
.overlayDiamond {
    background-color: #FB242B;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    border-radius: 140px;
}

.redDiamond {
    z-index: -1;
    transform: rotate(360deg);
    width: 925px;
    height: 925px;
}

.overlayDiamond {
    background-color: rgba(251, 36, 43, 0.6);
    width: 1000px;
    height: 1000px;
    z-index: -2;
}

.redDiamond img,
.overlayDiamond img {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(317deg);
}

.rectangle {
    bottom: 220px;
    position: absolute;
    left: 320px;
    height: 22%;
}

.rectangle2 {
    width: 20%;
    position: absolute;
    left: -20px;
    bottom: 540px;
}

.rectangle,
.rectangle2 {
    z-index: 0;
}

.backgroundImageDesktop {
    position: absolute;
    bottom: 17%;
    right: 20%;
    width: 85%;
    height: 67%;
    transform: rotate(317deg) !important;

}


.imageWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.backgroundImageMobile {
    position: absolute;
    top: 75%;
    left: 6%;
    width: 29%;
}

.greyDiamondBottom,
.greyDiamondTop {
    position: absolute;
    color: #DADADA;
    width: 350px;
    height: 350px;
    border-radius: 40px;
}

.greyDiamondBottom {
    left: 100px;
    z-index: -2;
    top: 150px;
}

.greyDiamondTop {
    top: -300px;
    left: 30%;
}

@media (min-width: 1600px) {
    .greyDiamondBottom {
        top: 500px;
    }
}

@media (max-width: 1750px) {
    .greyDiamondBottom {
        left: -100px;
    }
}

@media (max-width: 1600px) {
    .imageContainer {
        left: 300px;
        top: 20px;
    }

    .textContent {
        position: relative;
        left: 50px;
    }

    .content {
        gap: 0;
    }

    .greyDiamondBottom {
        left: -100px;
    }

}

@media (max-width: 1300px) {
    .imageContainer {
        left: 350px;
    }

    .textContent {
        position: relative;
        left: 200px;
    }

    .textContent h1 {
        width: 350px;
    }

    .greyDiamondTop {
        left: calc(25%-40px);
    }
}

@media (max-width: 1240px) and (min-width: 768px) {
    .textContent {
        margin-left: 5%;
        max-width: 90%;
        text-align: left;
    }

}

@media (max-width: 1250px) {

    .textContent {
        position: relative;
        left: 300px;
    }
}

@media (max-width: 1100px) {
    .imageContainer {
        left: 450px;
    }

    .textContent {
        position: relative;
        left: 400px;
    }
}

@media (max-width: 1000px) {
 

    .textContent {
        position: relative;
        left: 450px;
    }
}

@media (max-width: 900px) {
    .imageContainer {
        left: 580px;
    }

 
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 200px;
    }

    .textContent {
        margin-right: 0;
        text-align: center;
        padding: 0 20px;
        left: 0;
    }

    .imageContainer {
        margin-left: 0;
        padding-left: 0;
        left: -60%;
    }

    .redDiamond {
        width: 130vw;
        height: 100vw;
    }

    .overlayDiamond {
        width: 140vw;
        height: 110vw;
    }

    .backgroundImageDesktop {
        position: absolute;
        bottom: 79%;
        right: -10%;
        width: 80%;
        height: 75%;
    }

    .backgroundImageMobile {
        position: absolute;
        top: 9%;
        left: 36%;
        width: 35%;
        height: auto;
    }

    .greyDiamondTop {
        top: -275px;
        left: 70%;
        z-index: 12;
    }
}

@media (max-width: 500px) {
    .backgroundImageDesktop {
        bottom: 74%;
        right: -2%;
        width: 70%;
        height: 70%;
    }

    .backgroundImageMobile {
        top: 12%;
        left: 35%;
        width: 35%;
        height: auto;
    }
}

@media (max-width: 400px) {
    .content {
        gap: 0px;
    }

    .imageContainer {
        justify-content: flex-start;
    }

    .backgroundImageDesktop {
        bottom: 73%;
        right: -80px;
        width: 80%;
        height: 80%;
    }

    .backgroundImageMobile {
        top: 5%;
        left: 34%;
        width: 45%;
        height: auto;
    }

    .greyDiamondBottom {
        top: -100px;
    }
}