.container {
    max-width: 1312px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.textContent {
    z-index: 1;
    text-align: left;
    width: 478px;
    padding-bottom: 100px;
}

.textTitle {
    align-items: center;
    margin-bottom: 20px;
}

.textContent h1 {
    font-size: 48px;
    line-height: 58.8px;
    font-weight: bold;
    color: #212121;
    font-family: Gilroy;
    width: 478px;
}

.textContent h1 span {
    color: #FF474D;
}

.textDescription {
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    color: #5C5C5C;
    margin: 16px 0 0 0;
    max-width: 415px;
    width: 100%;
}

.ctaButton {
    background-color: #FF474D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    font-size: 1rem;
    cursor: pointer;
    z-index: 2;
    margin-top: 32px;
}

.ctaButton:hover {
    background-color: #FB242B !important;
}

.imageContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    z-index: -1;
    justify-content: flex-end;
    left: 150px;
    top: 0;
}

.diamondWrapper {
    position: relative;
    top: -25px;
    left: 120px;
}

.redDiamond,
.overlayDiamond {
    background-color: #FB242B;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 140px;
}

.redDiamond {
    z-index: -1;
    transform: rotate(360deg);
    width: 975px;
    height: 975px;
}

.smile {
    margin-left: 8px;
    height: 16px !important;
}

.overlayDiamond {
    background-color: rgba(251, 36, 43, 0.6);
    width: 1050px;
    height: 1050px;
    z-index: -2;
}

.redDiamond img,
.overlayDiamond img {
    max-width: 100%;
    max-height: 100%;
    transform: rotate(315deg);
}

.rectangle {
    bottom: 220px;
    position: absolute;
    left: 320px;
    height: 22%;
}

.backgroundImageMobile {
    position: absolute;
    top: 75%;
    left: 5%;
    width: 26%;
}

.backgroundImageDesktop {
    position: absolute;
    bottom: 18%;
    right: 22%;
    width: 85%;
    height: 67%;
    transform: rotate(314deg) !important;

}

.stars {
    position: absolute;
    width: 87px;
    height: 79px;
    bottom: 67%;
    left: -50px;
    z-index: 5;
}

.rectangle2 {
    width: 19%;
    position: absolute;
    left: -35px;
    bottom: 560px;
}

.greyDiamondBottom,
.greyDiamondTop {
    position: absolute;
    color: #DADADA;
    width: 350px;
    height: 350px;
    border-radius: 40px;
}

.freeText {
    margin: 0;
    margin-left: 40px !important;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.41px;
    color: #5C5C5C;
    margin-top: 12px;
    display: flex;
    align-items: center;
    text-align: center;
}

@media(max-width: 1440px) {
    .container {
        padding-left: 124px;
    }

    .stars {
        left: 75px;
    }
}


@media(max-width: 1024px) {
    .container {
        padding-left: 40px;
    }

    .stars {
        left: 0;
    }
}

@media (min-width: 1600px) {
    .greyDiamondBottom {}
}

@media (max-width: 1750px) {
    .greyDiamondBottom {
        left: -100px;
    }

    .imageContainer {
        top: 20px;
    }
}

@media (max-width: 1600px) {



    .textContent {
        left: 150px
    }

    .content {
        gap: 0;
    }

    .greyDiamondBottom {
        left: -100px;
    }

}

@media (max-width: 1440px) {
    .textContent h1 {
        font-size: 44px;
        width: 427px;
    }

    .textContent {
        left: 120px;
    }

    .textContent p {
        font-size: 18px;
    }

    .textDescription {
        max-width: 368px;
    }

    .ctaButton {
        width: 188px !important;
        height: 48px !important;
    }

    .freeText {
        margin-left: 0;
    }

    .diamondWrapper {
        left: 80px;
    }

}

@media (max-width: 1300px) {

    .textContent {
        left: 80px
    }

    .greyDiamondTop {
        left: calc(25%-40px);
    }
}

@media (max-width: 1280px) {
    .content {
        justify-content: flex-end;
    }

    .textContent h1 {
        width: 427px;
    }

    .textDescription {
        max-width: 358px;
    }

    .imageContainer {
        left: 50px;
    }

}


@media (max-width: 1150px) {
    .imageContainer {
        left: 0px;
    }

    .container {
        gap: 20px;
    }

    .textContent {
        left: 20px;
    }
}

@media (max-width: 1024px) {
    .textContent h1 {
        font-size: 36px;
        line-height: 49px;
        width: 373px;
    }

    .textDescription {
        max-width: 365px;
    }

    .textContent {
        width: 425px;
        margin-right: 20px;
    }

    .textContent p {
        width: 385px;
    }

}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 200px;
        padding-top: 20px;
    }

    .container {
        flex-direction: column;
        padding: 0;
    }


    .diamondWrapper {
        left: 0;
    }

    .textContent {
        margin: 0 auto;
        text-align: center;
        left: 0;
        width: 477px;
        padding-top: 64px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
    }

    .textContent h1 {
        font-size: 32px;
        line-height: 39.2px;
        text-align: center;
        width: 333px;
    }

    .textContent p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        width: 477px;
    }

    .imageContainer {
        margin-left: 0;
        padding-left: 0;
        left: -40%;

    }

    .redDiamond {
        width: 130vw;
        height: 100vw;
    }

    .overlayDiamond {
        width: 140vw;
        height: 110vw;
    }

    .redDiamond,
    .overlayDiamond {
        border-radius: 100px;
    }

    .backgroundImageDesktop {
        position: absolute;
        bottom: 81%;
        right: -19%;
        width: 91%;
        height: 89%;
        transform: rotate(315deg) !important;
    }

    .backgroundImageMobile {
        position: absolute;
        top: 5%;
        left: 34%;
        width: 30%;
        height: auto;
    }

    .greyDiamondTop {
        top: -275px;
        left: 70%;
        z-index: 12;
    }

    .greyDiamondBottom {
        display: none;
    }

    .stars {
        position: relative;
        top: 30px;
        left: -170px;
        transform: rotate(30deg);
    }

    .freeText {
        margin: 0;
        margin-top: 12px;
        padding-right: 20px !important;
        width: auto !important;

    }

    .textContent h1 {
        width: 100%;
    }

    .textDescription {
        max-width: max-content;
    }

    .textDescription p {
        height: 44px;
    }

    .rectangle {
        left: auto;
        right: -4%;
        height: 37%;
        bottom: 35%;
        width: 42%;
    }

    .rectangle2 {
        width: 22%;
        position: absolute;
        bottom: 91%;
        right: 33%;
        left: auto;
    }

}



@media (max-width: 500px) {

    .textContent p {
        width: 333px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;

    }

    .freeText {
        margin: 20px 0 !important;
    }

    .diamondWrapper {
        top: -80px;
        left: -15px;
    }



}

@media (max-width: 400px) {
    .content {
        gap: 50px;
    }

    .imageContainer {
        justify-content: flex-start;
    }

    .overlayDiamond {
        width: 185vw;
        height: 155vw;
    }

    .redDiamond {
        width: 175vw;
        height: 145vw;
    }

    .greyDiamondBottom {
        top: -100px;
    }

    .textContent {
        margin: 20px 0 !important;
    }
}



@media (max-width: 375px) {
    .textContent {
        margin-top: 0 !important;
        padding-top: 0;
    }

    .textContent p {
        font-size: 14px;
    }

    .stars {
        top: 30px;
        left: -130px;
    }

    .textContent h1 {
        font-size: 28px;
        line-height: 34.66px;
    }

    .freeText {
        margin: 0 !important;
        margin-bottom: 20px !important;
        margin-top: 12px;
    }

    .textDescription {
        width: auto;
        max-width: none;
    }

    .backgroundImageMobile {
        top: 7%;
        left: 36%;
        width: 27%;
        height: auto;

    }

    .backgroundImageDesktop {
        bottom: 77%;
        right: -3%;
        width: 70%;
        height: 70%;
    }
}