.testimonialBlock {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
    background-image: url('../../assets/background/home_bg_test.svg');
    background-size: cover;
    z-index: 2;
    box-sizing: border-box;
    flex-direction: column;
    height: 940px;
}

.testimonialCard {
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 24px;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

.textWrapper {
    max-width: 80%;
    width: 100%;
    background: #F1F1F1;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    position: relative;
    z-index: 3;
}

.text {
    width: 90%;
    max-width: 700px;
    font-size: 1rem;
    line-height: 1.5;
    position: relative;
    z-index: 3;
}

.quotes {
    position: relative;
    width: 24px;
    left: 30px;
    top: 15px;
    z-index: 3;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    position: relative;
    z-index: 3;
}

.authorContainer {
    text-align: left;
}

.authorName {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    padding-left: 10px;
    z-index: 3;
}

.title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    width: 100%;
    z-index: 3;
}

.authorTitle {
    font-size: 0.875rem;
    color: #ccc;
    margin-bottom: 1rem;
    z-index: 3;
}

.authorWrapper {
    display: flex;
    padding-top: 25px;
    padding-left: 10px;
    flex-direction: column;
    z-index: 3;
}

.testimonialImage {
    width: 50%;
    max-width: 250px;
    height: auto;
    position: absolute;
    top: 50%;
    right: 7rem;
    transform: translateY(-50%);
    border-radius: 8px;
    z-index: 3;
}

.dots {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    z-index: 3;
}

.dot {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    z-index: 3;
}

.dot:hover {
    background-color: #ccc;
}

.arrowContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100px;
    margin-top: 1rem;
    z-index: 3;
}

.reviewWrapper {
    display: flex;
    align-items: center;
    z-index: 3;
}

.arrow {
    cursor: pointer;
    z-index: 3;
}


.greyBg1 {
    position: absolute;
    left: 43px;
    top: -490px;
    z-index: 3;
    width: 14%;

}

.greyBg2 {
    position: absolute;
    right: -25%;
    top: -180%;
    z-index: 10;

}

.greyDiamond1,
.greyDiamond2 {
    position: absolute;
    background-color: thistle;
    z-index: 1;
}

.greyDiamond1 {
    left: 66%;
    bottom: 33%;
}

.greyDiamond2 {
    right: -16%;
    max-width: 50%;
    top: -131%;
    z-index: 2;

}


@media (max-width: 1024px) {
    .testimonialImage {
        right: 0rem;
    }
}

@media (max-width: 768px) {
    .testimonialCard {
        align-items: center;
    }

    .testimonialImage {
        position: initial;
        transform: none;
    }

    .author {
        width: 100%;
    }

    .textWrapper {
        width: 100%;
        max-width: 100%;
    }

    .author {
        flex-direction: row;
        justify-content: space-between;
    }

    .arrow {
        display: none;
    }

    .authorContainer {
        padding-left: 10px;
    }

    .quotesAdaptive {
        display: none;
    }

    .quotes {
        left: -10px;
        top: 25px;
    }

    .testimonialBlock {
        height: 1200px;
    }

}

@media (max-width: 375px) {
    .reviewWrapper {
        width: 50px;
    }

    .quotes {
        left: 16px;
        top: 55px;
    }
}