.accountPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
    color: #333;
}

h1 {
    margin-bottom: 20px;
}