.featureBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    z-index: 3;
    top: -200px;

}

.textContent {
    max-width: 600px;
    z-index: 1;
    margin-left: 50px;
    text-align: left;
}

.textContent h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--text-color-2);
    text-align: left;
}

.textContent h2 span {
    color: red;
}

.buttonGroup {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.featureButton {
    background-color: #F7F7F7;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.featureButton:hover {
    background-color: #E0E0E0;
}

.featureButton.selected {
    border: 1px solid black;
    background-color: #F7F7F7;
}

.featureList {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.featureList li {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.diamond {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-radius: 2px;
    display: inline-block;
    margin-right: 8px;
    background: radial-gradient(circle at center, #FF474D 0%, #FF8286 100%);
}

.moreFeaturesButton {
    background-color: #FF474D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.moreFeaturesButton:hover {
    background-color: #FB242B;
}

.imageContainer {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featureImage {
    width: 840px;
    height: 790px;
}

.greyBg {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 70px;
}

@media (max-width: 1200px) {
    .featureBlock {
        align-items: center;
        text-align: center;
    }

    .textContent {
        margin-left: 10px;
        margin-bottom: 40px;
    }

    .featureImage {
        height: auto;
        width: 677px;
        margin-left: 200px;
    }

    .greyBg {
        width: 350px;
        height: 350px;
        left: 20px;
    }
}

@media (max-width: 768px) {
    .featureBlock {
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: -200px;
    }

    .textContent {
        margin-left: 0;
        margin-bottom: 40px;
    }

    .featureImage {
        height: auto;
        margin: 0
    }

    .greyBg {
        width: 300px;
        height: 300px;
        left: 10px;
    }

    .textContent h2 {
        font-size: 28px;
        line-height: 36px;
    }

    .featureList li {
        font-size: 16px;
        line-height: 24px;
    }

    .moreFeaturesButton {
        font-size: 14px;
        padding: 8px 16px;
    }

    .featureBlock {
        padding: 0 20px;
    }

    .greyBg {
        display: none;
    }
}

@media (max-width: 480px) {
    .textContent h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .featureList li {
        font-size: 14px;
        line-height: 20px;
    }

    .moreFeaturesButton {
        font-size: 12px;
        padding: 6px 12px;
    }
}