.featureBlock {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    z-index: 3;
    top: -200px;
    padding-left: 304px;
    margin: 0 auto;
    justify-content: space-between;
    height: 850px;
    gap: 50px;
}

.textContent {
    max-width: 530px;
    z-index: 1;
    width: 100%;
    text-align: left;
}

.textContent h2 {
    font-family: Gilroy;
    font-size: 44px;
    font-weight: 600;
    line-height: 53.9px;
    color: var(--text-color-2);
    text-align: left;
    width: 522px;
}

.textContent h2 span {
    color: #FF474D;
    font-family: Gilroy;
}

.buttonGroup {
    display: flex;
    gap: 10px;
    margin-top: 24px;
}

.featureButton {
    background-color: #F7F7F7;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
    width: 107px;
    height: 40px;
}

.featureButton:hover {
    background-color: #E0E0E0;
}

.featureButton.selected {
    border: 1px solid black;
    background-color: #F7F7F7;
}

.featureList {
    list-style: none;
    padding: 0;
    margin-top: 24px;
}

.featureList li {
    font-size: 18px;
    line-height: 26px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.diamond {
    width: 9px;
    height: 9px;
    transform: rotate(45deg);
    border-radius: 2px;
    display: inline-block;
    margin-right: 8px;
    background: radial-gradient(95.51% 95.51% at 50% 50%, #FF474D 0%, rgba(255, 130, 134, 0.57) 100%);
}

.moreFeaturesButton {
    background-color: #FF474D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 210px !important;
    height: 56px !important;
    margin-top: 32px;
}

.moreFeaturesButton:hover {
    background-color: #FB242B;
}

.imageContainer {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.featureImage {
    width: 100%;
    height: 790px;
    object-fit: contain;
    padding-bottom: 50px;
}

.greyBg {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 70px;
}

.lineAndText {
    display: flex;
    align-items: center;
}

.lineAndText svg {
    position: absolute;
    bottom: 62%;
}

@media(max-width: 1440px) {
    .moreFeaturesButton {
        width: 180px !important;
        height: 48px !important;
    }

    .featureBlock {
        padding-left: 124px;
        margin: unset;
        max-width: max-content;
        gap: 120px;
    }

    .featureImage {
        width: 770px;
        padding-left: 0px;
    }

    .textContent h2 {
        width: 440px;
        font-family: Gilroy;
        font-size: 36px;
        font-weight: 600;
    }

    .featureList li {
        width: 550px;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        color: #212121;
    }

    .lineAndText svg {
        bottom: 60.3%;
    }

}

@media (max-width: 1280px) {
    .featureBlock {
        align-items: center;
        text-align: center;
        gap: 0;
    }

    .lineAndText svg {
        bottom: 62.5%;
    }

    .textContent {
        margin-bottom: 40px;
    }

    .featureList li {
        width: 490px;
    }

    .featureImage {
        width: 842.19px;
        height: 791.96px;
        padding: 0;
    }

    .greyBg {
        width: 350px;
        height: 350px;
        left: 20px;
    }
}

@media (max-width: 1024px) {
    .featureBlock {
        padding-left: 40px;
    }

    .featureList li {
        width: 425px;
    }

    .textContent h2 {
        width: 395px;
        font-size: 32px;
        line-height: 39.62px;
    }

    .featureImage {
        width: auto;
        height: auto;
        padding-bottom: 50px;
    }

    .lineAndText svg {
        bottom: 64.5%;
    }

}

@media (max-width: 768px) {
    .featureBlock {
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: -250px;
        height: 1230px;
        padding: 0;
        max-width: none;
    }

    .imageContainer {
        margin-top: 40px;
    }

    .lineAndText svg {
        bottom: 93%;
    }

    .textContent {
        margin-left: 0;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 525px;
    }

    .featureImage {
        height: auto;
        margin: 0;
        padding: 0;
    }

    .greyBg {
        width: 300px;
        height: 300px;
        left: 10px;
    }

    .textContent h2 {
        font-size: 28px;
        line-height: 36px;
        text-align: center;

    }

    .featureList {
        margin-left: 100px;
    }

    .featureList li {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        width: 489px;

    }

    .diamond {
        margin-right: 20px;
    }

    .moreFeaturesButton {
        font-size: 14px;
        padding: 8px 16px;
    }

    .featureBlock {
        padding: 0 20px;
    }

    .greyBg {
        display: none;
    }

    .lineAndText svg {
        height: 36px;
        bottom: 93.8%;
        padding-left: 2px;
    }

}

@media (max-width: 480px) {
    .textContent h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .featureList li {
        font-size: 14px;
        line-height: 20px;
    }

    .moreFeaturesButton {
        font-size: 12px;
        padding: 6px 12px;
    }
}

@media (max-width: 420px) {
    .textContent h2 {
        width: 331px;
    }

    .lineAndText svg {
        height: 36px;
        bottom: 94.5%;
        padding-left: 0px;
    }

    .featureList {
        margin-left: 0;
        width: 367px;
    }

    .diamond {
        margin-right: 10px;
    }

    .featureList li {
        width: 340px;
        text-align: left;
    }

}

@media(max-width: 375px) {
    .featureBlock {
        height: 980px;
    }

    .textContent {
        width: 100%;
    }

    .featureImage {
        width: 500px;
        margin: 0;
    }

    .featureList {
        padding-left: 20px;
        width: 343px;
    }

    .lineAndText svg {
        bottom: 93%;
    }

}