.tabContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.tab {
    font-family: Gilroy;
    font-size: 1rem;
    font-weight: 600;
    color: #212121;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    color: #BDBDBD;
    width: 50%;
    text-align: center;
}

.tab.active {
    color: #ff474d;
}

.tab.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ff474d;
}