.container {
    width: 100%;
    padding: 36px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.section {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    box-sizing: border-box;
    max-width: 420px;
    height: 390px;
    justify-content: center;
}


#support {
    background: url('../../assets/company/bg_contact.svg') no-repeat center center;
    background-color: #F6F6F6;
}

#business {
    background: url('../../assets/company/bg_contact_2.svg') no-repeat center center;
    background-color: #363636;
    color: white;
}

#media {
    background: url('../../assets/company/bg_contact_3.svg') no-repeat center center;
    background-color: #F6F6F6;
}

.section h2 {
    font-family: Gilroy;
    font-size: 32px;
    line-height: 37.5px;
    text-align: center;
    margin-bottom: 15px;
}

.section p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 15px;
}

.Button {
    width: 188px;
    height: 48px;
    border-radius: 16px;
    border: 1px solid #D2D2D2;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.81px;
    text-align: center;
    background-color: white;
    color: black;
}

.h1 {
    font-family: Gilroy;
    font-size: 48px;
    line-height: 56.25px;
    text-align: center;
}


@media(min-width:1440px) {
    .Button {
        width: 210px !important;
        height: 56px !important;
    }
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: flex-start;
        padding: 60px 20px;
    }

    .section {
        padding: 60px 40px;
        width: 30%;
    }
}

@media(max-width: 1440px) {
    .section h1 {
        font-size: 28px;
        line-height: 32.81px;
        text-align: center;
    }

    .section p {
        font-size: 16px;
        line-height: 23px;
    }

    .h1 {
        font-size: 44px;
        line-height: 51.56px;
    }
}

@media(max-width: 1280px) {
    .section p {
        font-size: 14px;
        line-height: 21px;
    }
}

@media(max-width: 768px) and (min-width: 375px) {
    #support {
        background: url('../../assets/company/bg_contact_tablet.svg') no-repeat center center;
        background-color: #F6F6F6;
    }

    #business {
        background: url('../../assets/company/bg_contact_tablet_1.svg') no-repeat center center;
        background-color: #363636;
    }

    #media {
        background: url('../../assets/company/bg_contact_tablet_2.svg') no-repeat center center;
        background-color: #F6F6F6;
    }

    .section {
        height: 260px;
    }

    .h1 {
        font-size: 36px;
        line-height: 42.19px;
    }

}

@media (max-width: 375px) {
    .section {
        padding: 20px 10px;
        height: 350px;
    }

    .section h2 {
        font-size: 20px;
    }

    .section p {
        font-size: 14px;
    }

    .Button {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    .h1 {
        font-size: 32px;
        line-height: 37.5px;
    }
}

@media(max-width:768px) {
    .section {
        max-width: 100%;
        width: 100%;
    }
}