.container {
  display: flex;
  gap: 20px;
}

.sidebar {
  width: 200px;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.upload-container {
  margin-bottom: 20px;
}

.upload-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.assets-container {
  margin-bottom: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-input {
  padding: 10px;
  font-size: 16px;
}

.add-text-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.assets {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  overflow-y: auto;
  max-height: 500px;
}

.asset {
  width: 100px;
  height: 100px;
  cursor: grab;
}

.canvas {
  flex-grow: 1;
  border: 1px solid #ccc;
  position: relative;
  width: 500px;
  max-height: 100%;
}

.canvas-element {
  position: absolute;
  width: 100px !important;
  height: 100px !important;
}

.canvas-text {
  font-size: 16px;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
}