.container {
    background-color: #F6F6F6;
    border-radius: 16px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
    height: auto;
    position: relative;
    margin-right: 100px;
}

.title {
    font-family: Gilroy;
    font-size: 36px;
    line-height: 42.19px;
    text-align: left;
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
    height: 120px;
}

.line {
    height: 1px;
    border-top: 1px gainsboro solid;
    width: 80%;
    margin: 10px auto;
}

.text {
    max-width: 100%;
    height: auto;
}

.confetti {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    right: -100px;
}

.greyBg {
    position: absolute;
        left: 80%;
    width: 410.5px;
    height: 322.75px;
}

@media(max-width:1024px) {
    .container {
        margin-right: 0;
    }

    .confetti {
        position: absolute;
        top: 115%;
        transform: translateY(-50%);
        right: -40px;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 375px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .confetti {
        right: -30px;
    }
}