.container {
    background-color: #F6F6F6;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    height: auto;
    position: relative;
    margin-right: 54px;
    box-sizing: border-box;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Gilroy;
    font-size: 44px;
    font-weight: 600;
    line-height: 53.9px;
    height: 54px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #212121;
}

.grid {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
    height: 50px;
    padding-top: 32px;
    gap: 94px;
}

.line {
    height: 1px;
    border-top: 1px gainsboro solid;
    width: 666px;
    margin-top: 16px;
}

.text {
    max-width: 100%;
    height: auto;
}

.confetti {
    position: absolute;
    top: 89%;
    transform: translateY(-50%);
    right: -49px;
}

.greyBg {
    position: absolute;
    left: 80%;
    width: 410.5px;
    height: 322.75px;
}

@media(max-width:1024px) {
    .container {
        margin-right: 0;
    }

    .confetti {
        position: absolute;
        top: 115%;
        transform: translateY(-50%);
        right: -40px;
    }
}

.text1 {
    width: 222.75px;
    height: 33px;
}

.text2 {
    width: 228.37px;
    height: 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text3 {
    width: 187.77px;
    height: 27px;
}

.text4 {
    width: 211.25px;
    height: 25px;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .confetti {
        top: 160%;
    }

}

@media (max-width: 375px) {
    .grid {
        grid-template-columns: 1fr;
        height: 100%;
        background-color: #F6F6F6;
    }

    .confetti {
        display: none;
        right: -100px;
        top: 180%;
    }

    .confettiMobile {
        position: absolute;
        top: 180%;
        transform: translateY(-50%);
        right: 10px;
    }
}