.container {
    background-color: #F6F6F6;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    text-align: center;
    height: auto;
    position: relative;
    margin-right: 54px;
    box-sizing: border-box;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Gilroy;
    font-size: 44px;
    font-weight: 600;
    line-height: 53.9px;
    height: 54px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #212121;
}

.grid {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
    height: 50px;
    padding-top: 32px;
    gap: 94px;
    z-index: 2;
}

.line {
    height: 1px;
    border-top: 1px gainsboro solid;
    width: 666px;
    margin-top: 16px;
}

.text {
    max-width: 100%;
    height: auto;
}

.confetti {
    position: absolute;
    top: 89%;
    transform: translateY(-50%);
    right: -49px;
}

.greyBg {
    position: absolute;
    left: 57%;
    width: 426.5px;
    height: 322.75px;
    bottom: 57%;

}

.text1 {
    max-width: 222.75px;
    height: 33px;
}

.text2 {
    max-width: 228.37px;
    height: 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text3 {
    max-width: 187.77px;
    height: 27px;
}

.text4 {
    max-width: 211.25px;
    height: 25px;
}

.greyDots {
    position: absolute;
    width: 426.5px;
    height: 322.75px;
    top: 106%;
    left: 11%;
}

@media(max-width:1440px) {
    .container {
        height: 228px;
    }

    .grid {
        gap: 106px;
    }

    .title {
        font-size: 36px;
        line-height: 42.19px;
    }

    .greyBg {
        left: 59%;
    }

    .greyDots {
        top: 115%;
        left: -5%;
    }
}


@media(max-width:1280px) {
    .greyDots {
        top: 115%;
        left: -10%;
    }
}

@media(max-width:1240px) {
    .container {
        margin-right: 0;
    }



}


@media(max-width:1024px) {
    .container {
        margin-right: 0;
    }

    .confetti {
        position: absolute;
        top: 115%;
        transform: translateY(-50%);
        right: -40px;
    }

    .grid {
        gap: 76px;
    }

    .text1 {
        width: 189px;
        height: 28px;
    }

    .text2 {
        width: 203px;
        height: 40px;
    }

    .text3 {
        max-width: 153px;
        height: 22px;
    }

    .text4 {
        max-width: 169px;
        height: 20px;
    }

    .greyBg {
        left: 66%;
        bottom: 57%;
    }

    .greyDots {
        top: 125%;
        left: -20%;
    }

}

@media (max-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 94px;
        row-gap: 48px;
        padding: 0;
    }

    .title {
        padding-top: 48px;
    }

    .confetti {
        top: 150%;
    }

    .container {
        justify-content: flex-start;
        height: 324px;
    }

    .line {
        width: 294px;
    }

    .greyBg {
        width: 270.57px;
        height: 204.75px;
        left: 76%;
        bottom: 64%;
    }

    .greyBg2 {
        left: -20%;
        top: 87%;
        width: 53%;
    }

}

@media (max-width: 375px) {
    .container {
        height: 451px;
        box-sizing: border-box;
    }

    .title {
        padding-top: 49px;
    }

    .title {
        font-size: 28px;
        line-height: 32.81px;
    }

    .line {
        margin-top: 24px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        background-color: #F6F6F6;
        gap: 48px;
        padding-top: 32px;
    }

    .greyBg {
        left: 72%;
        bottom: 76%;
    }

    .confetti {
        display: none;
        top: 144%;
        transform: translateY(-50%);
        right: 0px;
    }

    .greyDots {
        top: 103%;
        left: -60%;
        width: 97%;
    }

    .confettiMobile {
        position: absolute;
        top: 115%;
        transform: translateY(-50%);
        right: 10px;
        z-index: -2;
        width: 110%;
    }

}