.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    justify-content: center;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 100%;
    height: auto;
}

.textContainer {
    flex: 1;
    padding: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 400px;
}

.textContainer h2 {
    font-family: Gilroy;
    font-size: 56px;
    font-weight: 600;
    line-height: 68.6px;
    text-align: left;
    color: #212121;
    margin: 0;
}

.starsUp {
    position: absolute;
    top: -20px;
    left: -10px;
}

.starsDown {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media(max-width:1280px) {
    .textContainer h2 {
        font-size: 48px;
        line-height: 58.8px;
    }
}

@media(max-width: 1024px) {

    .image {
        width: 60%;
    }

    .textContainer h2 {
        font-size: 44px;
        line-height: 51.56px;
    }
}

@media(max-width:768px) {
    .container {
        flex-direction: column-reverse
    }

    .image {
        width: 100%;
    }

    .textContainer h2 {
        text-align: center;
    }

}

@media(max-width:375px) {
    .textContainer h2 {
        font-size: 32px;
        line-height: 39.2px;
    }
}