.checkoutBlock {
    position: relative;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background: url('../../assets/background/home_bg.svg') no-repeat center center;
    background-size: cover;
    top: -250px;

}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    padding: 250px 20px;
    margin: 0 auto;
    height: 100%;
    position: relative;
    top: 50px;
}

.contentImage {
    max-width: 560px;
    max-height: 495px;
}

.textBlock {
    max-width: 500px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textBlock h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 20px;
}

.textBlock p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 20px;
}

.playButton {
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: black;
}

.playIcon {
    padding: 10px;
}

.playButton:hover {
    background-color: #FB242B;
}


.bgDetail {
    position: absolute;
    top: 80%;
    left: -10%;
    width: 300px;
    height: 250px;
}


.bgDetail2 {
    position: absolute;
    top: 45%;
    left: 90%;
    width: 300px;
    height: 250px;
}

@media (max-width: 1200px) {


    .contentImage {
        position: relative;
        width: 60%;

    }

    .textBlock {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        text-align: center;

    }

    .textBlock {
        align-items: center
    }

    .playButton {
        width: 50%;
    }
    .bgDetail {
        position: absolute;
        top: 51%;
        left: -45%;
        width: 300px;
        height: 250px;
    }

    .bgDetail2 {
        position: absolute;
        top: 60%;
        left: 90%;
        width: 300px;
        height: 250px;
    }

    .checkoutBlock {
        padding: 40px 0;
    }

    .contentImage {
        width: 125%;
        padding-top: 20px;
    }

}