.checkoutBlock {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    height: 900px;
    align-items: stretch;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    bottom: 400px;
    background: url(../../assets/background/home_bg.svg);
    background-position: -100px 0;

}

.backgroundImage {
    position: absolute;
    top: 0;
    left: -80px;
    width: 2000px;
    height: 100%;
    z-index: -1;
    border-radius: 20px;
}

.content {
    display: flex;
    align-items: center;
    max-width: 1312px;
    justify-content: flex-start;
    height: 100%;
    position: relative;
    top: 50px;
    width: 100%;
    gap: 15%;
}

.contentImage {
    max-width: 560px;
    max-height: 495px;
    width: 100%;
    height: 100%;
}

.textBlock {
    max-width: 478px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 80px;
    height: 69px;
    padding-left: 10px;
}

.textBlock h2 {
    font-family: Gilroy;
    font-size: 44px;
    font-weight: 600;
    line-height: 53.9px;
    margin-bottom: 20px;
    text-align: left;
    color: #212121;

}

.textBlock p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
    color: #5C5C5C;
}

.playButton {
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 220px !important;
    height: 56px !important;
    box-sizing: border-box;
}

.playIcon {
    padding: 10px;
}

.playButton:hover {
    background-color: #FB242B;
}


.bgDetail {
    position: absolute;
    top: 80%;
    left: 0%;
    width: 300px;
    height: 250px;
}


.bgDetail2 {
    position: absolute;
    top: 60%;
    left: 90%;
    width: 300px;
    height: 250px;

}

@media(min-width: 1440px) {
    .backgroundImage {
        left: -80px;
        width: auto;
    }

    .checkoutBlock {
        justify-content: center;
    }

}

@media(min-width: 768px) {
    .contentImage {
        position: relative;
        top: 50px;
    }

    .textBlock {
        text-align: left;
    }
}

@media (max-width: 1440px) {
    .playButton {
        width: 188px !important;
        height: 48px !important;
        ;
    }

    .content {
        gap: 10%;
    }

    .contentImage {
        padding-left: 60px;
    }

    .checkoutBlock {
        background-position: -200px 0;
    }

    .textBlock {
        padding: 0;
        justify-content: center;
    }

    .textBlock h2 {
        font-size: 36px;
        line-height: 44.1px;
    }

    .textBlock p {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        max-width: 356px;
        width: 100%;
    }
}

@media (max-width: 1280px) {
    .content {
        gap: 5%;
    }

    .contentImage {
        position: relative;
        width: 60%;
        padding-left: 124px;

    }

    .textBlock {
        margin-left: 0;
        margin-bottom: 50px;
    }
}

@media (max-width:1024px) {
    .textBlock h2 {
        font-size: 32px;
        line-height: 37.5px;
    }

    .content {
        gap: 3%;
    }

    .contentImage {
        padding-left: 24px;
    }

    .textBlock {
        margin-bottom: 40px;
    }

    .textBlock p {
        font-size: 16px;
        line-height: 23px;
    }
}

@media (max-width: 768px) {
    .checkoutBlock {
        height: 100%;
        background: url('../../assets/background/home_bg_tablet.svg') no-repeat center center;
        height: 1200px;
        background-size: cover;
        border-radius: 15px;
        background-position: center;
    }

    .checkoutBlock {
        background-position: left;
    }

    .content {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 100%;
        gap: 50px;
        background: none;
    }



    .textBlock {
        align-items: center
    }

    .playButton {
        width: 50%;
    }

    .bgDetail {
        position: absolute;
        top: 51%;
        left: -45%;
        width: 300px;
        height: 250px;
    }

    .bgDetail2 {
        position: absolute;
        top: 60%;
        left: 90%;
        width: 300px;
        height: 250px;
    }


    .textBlock h2 {
        line-height: 39.2px;
    }

    .contentImage {
        width: 520px;
        padding-top: 20px;
        height: 459px;
    }

    .content {
        top: 100px;
    }


}

@media(max-width: 600px) {


    .content {
        gap: 80px;
        top: 50px;
    }

    .playButton {
        margin: 0;
    }

    .contentImage {
        width: 343px;
        height: 302.65px;
        padding: 0;
    }


}

@media(max-width: 480px) {
    .checkoutBlock {
        padding-top: 120px;

    }

    .contentImage {
        width: 100%;
    }

    .textBlock p {
        width: 343px;
        height: 69px;
        text-align: center;
        word-break: break-word;

    }

}

@media(max-width: 375px) {

    .checkoutBlock {
        height: 900px;
    }

    .content {
        height: 800px;
    }

    .textBlock h2 {
        font-size: 28px;
        line-height: 32.81px;
    }

    .textBlock p {
        font-size: 14px;
        line-height: 23px;
    }


}