.checkoutBlock {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    top: -350px;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: -80px;
    width: 2000px;
    height: 100%;
    z-index: -1;
    border-radius: 20px;
}

.content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    position: relative;
    top: 50px;
}

.contentImage {
    max-width: 560px;
    max-height: 495px;
    margin-left: 20px;
}

.textBlock {
    max-width: 478px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    height: 69px;
    padding-left: 10px;
}

.textBlock h2 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 20px;
}

.textBlock p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    margin-bottom: 20px;
}

.playButton {
    padding: 10px 20px;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 220px !important;
    height: 56px !important;
    box-sizing: border-box;
}

.playIcon {
    padding: 10px;
}

.playButton:hover {
    background-color: #FB242B;
}


.bgDetail {
    position: absolute;
    top: 80%;
    left: 0%;
    width: 300px;
    height: 250px;
}


.bgDetail2 {
    position: absolute;
    top: 60%;
    left: 90%;
    width: 300px;
    height: 250px;

}

@media(min-width: 1440px) {
    .backgroundImage {
        left: -80px;
        width: auto;
    }
}

@media(min-width: 768px) {
    .contentImage {
        position: relative;
        top: 50px;
    }



    .content {
        justify-content: space-between;
    }

    .textBlock {
        padding: 0;
        text-align: left;
    }
}

@media (max-width: 1440px) {
    .playButton {
        width: 188px !important;
        height: 48px !important;
        ;
    }
}

@media (max-width: 1200px) {


    .contentImage {
        position: relative;
        width: 60%;

    }

    .textBlock {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width:1024px) {
    .textBlock h2 {
        font-size: 32px;
        line-height: 37.5px;
    }

    .textBlock p {
        font-size: 16px;
        line-height: 23px;
    }
}

@media (max-width: 768px) {
    .checkoutBlock {
        height: 100%;
    }

    .content {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        text-align: center;
        height: 1050px;
        gap: 50px;
    }

    .backgroundImage {
        left: -5px;
        top: -300px;
        height: 1200px;
    }

    .textBlock {
        align-items: center
    }

    .playButton {
        width: 50%;
    }

    .bgDetail {
        position: absolute;
        top: 51%;
        left: -45%;
        width: 300px;
        height: 250px;
    }

    .bgDetail2 {
        position: absolute;
        top: 60%;
        left: 90%;
        width: 300px;
        height: 250px;
    }

    .checkoutBlock {
        padding: 40px 0 0 0;
        height: 900px;
    }

    .contentImage {
        width: 500px;
        padding-top: 20px;
    }

}

@media(max-width: 600px) {
    .content {
        gap: 80px;
    }

    .playButton {
        margin: 0;
    }


}

@media(max-width: 480px) {
    .checkoutBlock {
        padding-top: 120px;

    }

    .contentImage {
        width: 100%;
    }
}

@media(max-width: 375px) {

    .checkoutBlock {
        height: 100%;
    }

    .content {

        height: 700px;
    }

}