.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    padding: 0 200px;
    margin-top: 180px;
}

.titleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 50px;
}

.titleWrapper h1 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-family: Gilroy;
    color: #FB242B;
    font-family: Gilroy;
    font-size: 48px;
    line-height: 56.25px;
    text-align: right;

}

.titleWrapper span {
    color: #212121;
    padding-right: 5px;
}

.titleWrapper p {
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.625rem;
    text-align: center;
}

.stars {
    width: 3.75rem;
    padding-bottom: 3.125rem;
    height: auto;
    position: relative;
    right: -20px;
    top: 10px;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.imageContainer img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.leftImages,
.rightImages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 650px;
}

.leftImages img {
    height: 485px;
    width: 650px;

}

.rightImages img {
    height: 415px;
    width: 650px;

}


.bg {
    height: auto;
    object-fit: contain;
}

.buttonContainer {
    position: relative;
    background: url('../../assets/company/bg_powered.svg') no-repeat center center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 120px;
    text-align: center;
    color: white;
    background-color: #363636;
    box-sizing: border-box;
}

.buttonContainer p {
    font-family: Gilroy;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.4px;
    text-align: left;
    text-wrap: balance;
    width: 400px;
}

.buttonContainer button {
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(85, 83, 83);
    cursor: pointer;
}


@media (min-width: 375px) {
    .imageContainer {
        flex-direction: row;
    }


    .bg {
        height: 200px;
    }


}


@media (max-width: 1440px) {
    .buttonContainer {
        height: 100px;
    }

    .leftImages,
    .rightImages {
        width: 50%;
    }

    .container {
        padding: 0 100px;
    }

    .titleWrapper h1 {
        font-size: 44px;
        line-height: 51.56px;
    }

    .Button {
        width: 188px !important;
        height: 48px !important;
    }
}

@media(max-width: 1280px) {
    .buttonContainer {
        height: 80px;
    }

    .buttonContainer p {
        font-size: 20px;
        font-weight: 400;
        line-height: 25px;
    }


}

@media (max-width: 1024px) {
    .buttonContainer {
        height: 100px;
    }

    .container {
        padding: 20px;

    }
}




@media (max-width:768px) {
    .container {
        padding: 20px;

    }

    .leftImages {
        width: 60%;
    }

    .leftImages img {
        height: 520px;
    }

    .buttonContainer {
        height: 200px;
    }

    .rightImages {
        width: 50%;
    }

    .buttonContainer p {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        width: 300px;
    }

    .titleWrapper h1 {
        font-size: 36px;
        line-height: 42.19px;
    }

}

@media (max-width:375px) {

    .leftImages,
    .rightImages {
        width: 100%;
    }

    .titleWrapper h1 {
        font-size: 32px;
        line-height: 37.5px;
    }

    .titleWrapper {
        justify-content: flex-start;
    }

}