.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.happyBz {
    max-width: 80%;
    height: auto;
    z-index: 1;
    text-align: center;
    clip-path: inset(10% 0 0 0);

}

.title {
    max-width: 800px;
    max-height: 54px;
    height: 100%;
    width: 100%;
    font-family: Gilroy;
    font-size: 44px;
    font-weight: 600;
    line-height: 53.9px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #212121;
}

.leftBg,
.rightBg {
    position: absolute;
}

.greyDots,
.greyDots1,
.greyDots2,
.greyBg,
.greyBg1,
.greyBg2,
.dotsDown {
    position: absolute;
}

.greyBg2 {
    bottom: -3vh;
    left: 22vw;
}

.greyDots1 {
    bottom: 25vh;
    left: 22vw;
    z-index: 1;
    width: 587.93px;
    height: 444.92px;
}

.greyBg,
.greyBg1 {
    right: 14vw;
    rotate: 180deg;
    width: 700.34px;
    height: 700.34px;
}

.greyBg {
    bottom: -18vh;
    z-index: 1;

}

.greyBg1 {
    top: -25vh;
}

.greyDots {
    right: 30vw;
    z-index: 2;
    width: 162.75px;
    height: 123.16px;
}

.dotsDown {
    width: 383.22px;
    height: 290px;
    right: 70%;
    bottom: -27%;
}

@media(min-width:1600px) {
    .container {
        margin-bottom: 50px;
    }


}

@media(max-width:1440px) {
    .title {
        font-family: Gilroy;
        font-size: 36px;
        font-weight: 600;
        line-height: 44.1px;
        text-align: center;
    }

    .greyDots1 {
        left: 27vw;
    }

    .greyBg2 {
        bottom: -13vh;
        left: 28vw;
    }

    .greyBg1 {
        top: -36vh;
        right: 17vw;
    }

    .greyBg {
        right: 15vw;
        bottom: -12vh;
    }

    .dotsDown {
        right: 76%;
        bottom: -30%;
    }
}

@media(max-width:1600px) {
    .happyBz {
        max-width: 80%;
    }
}

@media(max-width:1280px) {
    .happyBz {
        max-width: 100%;
    }

    .title {
        line-height: 42.19px;
    }

    .greyBg {
        top: -37vh;
        right: 26vw;
    }

    .greyBg2 {
        bottom: 5vh;
        left: 30vw;
    }

    .greyDots1 {
        left: 34vw;
        bottom: 25vh;
    }

    .greyDots {
        display: none;
    }

}

@media(max-width:1024px) {
    .title {
        font-size: 32px;
        line-height: 37.5px;
    }

    .container {
        margin-top: 124px;
    }

    .greyBg {
        top: -80vh;
        right: 20vw;
    }

    .greyBg1 {
        top: -38vh;
        right: 23vw;
    }

    .dotsDown {
        right: 85%;
        bottom: -40%;
    }

}

@media(max-width:768px) {
    .container {
        margin-bottom: 50px;
        gap: 50px;
    }

    .happyBz {
        max-width: 100%;
        clip-path: none;

    }

    .title {
        line-height: 39.2px;
        z-index: 4;
    }

    .greyBg,
    .greyBg1 {
        width: 459.3px;
        height: 459.3px;
    }

    .greyBg {
        top: -81vh;
        right: 11vw;
        z-index: 3;
    }


    .greyBg1 {
        top: -45vh;
        right: 16vh;
    }

    .greyBg2 {
        display: none;
    }


    .greyDots1 {
        width: 381.07px;
        height: 288.37px;
        left: 14vw;
        bottom: 42vh;
    }

    .dotsDown {
        width: 248.38px;
        height: 187.96px;
        right: 84%;
        bottom: 32%;
    }

}




@media(max-width:600px) {
    .container {
        margin-top: 150px;
    }


}

@media(max-width:375px) {
    .title {
        font-size: 28px;
        line-height: 32.81px;
    }

    .greyBg {
        top: -67vh;
        right: 12vw;
        z-index: 3;
    }

    .greyBg1 {
        top: -21vh;
        right: 2vh;
    }

    .greyBg2 {
        display: block;
        bottom: 3vh;
        left: 12vw;
    }

    .dotsDown {
        width: 150.94px;
        height: 114.22px;
        right: 88%;
        bottom: 41%;
    }

    .greyDots1 {
        width: 231.57px;
        height: 175.24px;
        bottom: 33vh;
    }



    .container {
        margin-top: 0;
    }

}