.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    margin: 120px 0;
    box-sizing: border-box;
}

.happyBz {
    max-width: 80%;
    height: auto;
    z-index: 1;
    text-align: center;
    clip-path: inset(10% 0 0 0);

}

.title {
    max-width: 800px;
    max-height: 54px;
    height: 100%;
    width: 100%;
    font-family: Gilroy;
    font-size: 44px;
    font-weight: 600;
    line-height: 53.9px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.greyDiamond {
    position: absolute;
    right: -30%;
    max-width: 50%;
    top: -115%;
    z-index: 2;
}

.greyDiamond2 {
    position: absolute;
    right: 86%;
    max-width: 50%;
    top: -162%;
    z-index: 2;

}

.greyBg {
    position: absolute;
    right: 16%;
    top: -891px;
    z-index: 2;
    width: 200px;
}

.greyBg1 {
    position: absolute;
    left: 10px;
    top: -450px;
    z-index: 3;
    width: 200px;
}

.greyBg2 {
    position: absolute;
    left: 10px;
    top: 119%;
    z-index: 36;
    width: 200px;
}

.greyBg3 {
    position: absolute;
    z-index: 4;
    top: 95%;
    left: 10%;
}

@media(min-width:1600px) {
    .container {
        margin-top: 150px;
        margin-bottom: 50px;
    }


}

@media(max-width:1440px) {
    .title {
        font-family: Gilroy;
        font-size: 36px;
        font-weight: 600;
        line-height: 44.1px;
        text-align: center;
    }
}

@media(max-width:1600px) {
    .happyBz {
        max-width: 80%;
    }
}

@media(max-width:1280px) {
    .happyBz {
        max-width: 100%;
    }

    .title {
        line-height: 42.19px;
    }


}

@media(max-width:1024px) {
    .title {
        font-size: 32px;
        line-height: 37.5px;
    }

}

@media(max-width:768px) {
    .container {
        margin-top: 210px;
        margin-bottom: 50px;
        gap: 50px;
    }

    .happyBz {
        max-width: 100%;
        clip-path: none;

    }

    .title {
        line-height: 39.2px;
    }

}




@media(max-width:600px) {
    .container {
        margin-top: 150px;
    }


}

@media(max-width:375px) {
    .title {
        font-size: 28px;
        line-height: 32.81px;
    }

    

    .container {
        margin-top: 0;
    }

}