.block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
}

.infoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    border-radius: 16px;
    padding: 20px;
    width: calc(35% - 40px);
    box-sizing: border-box;
    height: 200px;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: #F6F6F6;

}

.infoItem .infoText {
    padding: 10px;
    border-radius: 8px;
}

.infoItem1,
.infoItem4 {
    padding: 0;
}

.infoItem2,
.infoItem3 {
    width: calc(15% - 40px);

}

.infoItem2,
.infoItem4 {
    position: relative;
    top: -80px;
}

.value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Gilroy;
    font-size: 44px;
    line-height: 51.56px;
    text-align: center;
}

.infoText {
    margin-top: 10px;
}

.infoText span {
    font-size: 24px;
    font-weight: bold;
    color: #FB242B;
}

.valueInfo {
    font-family: Gilroy;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.5px;
    text-align: center;
}

.infoItem:nth-child(1) {
    background-image: url('../../assets/company/info.svg');
}

.infoItem:nth-child(2) {
    background-image: url('../../assets/company/info_1.svg');
}

.infoItem:nth-child(3) {
    background-image: url('../../assets/company/info_2.svg');
}

.infoItem:nth-child(4) {
    background-image: url('../../assets/company/info_3.svg');
}

@media (max-width: 1440px) {
    .infoItem {
        height: 150px;
    }
}

@media (max-width: 1024px) {

    .infoItem1,
    .infoItem4 {
        width: calc(25% - 40px);
    }

    .infoItem2,
    .infoItem3 {
        width: calc(25% - 40px);

    }

}

@media (max-width: 768px) {
    .infoItem {
        width: calc(50% - 40px);

    }
}

@media (max-width: 375px) {
    .block {
        flex-direction: column;
        align-items: center;
    }

    .infoItem {
        width: 90%;
    }

    .infoItem2,
    .infoItem4 {
        position: static;
    }
}